
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <button style="background-color: darkseagreen" type="button" class="btn-primary" onclick="Education()">Education</button>
    <br /> <br/>
    <button style="background-color: darkseagreen" type="button" class="btn-success" onclick="Qualification()">Qualification</button><br />
    <br />
    <button style="background-color: darkseagreen" type="button" class="btn-danger" onclick="Skills()">Skills</button><br />
    <br />
    <button style="background-color: darkseagreen" class="btn-warning" onclick="Hobbies()">Hobbies</button><br />
    <br />
</div>

